header,footer{
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header {
  padding-left: 100px;
  align-items: center;
}

header > div>img {
  width: 80px;
  height: 80px;
}

.App-nav{
  background-color: rgb(223, 193, 233);
  height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer{
  min-width: 183.3vh;
  min-height: 10vh;
  padding: 20px;
  align-items: flex-start;
}

footer > section{
margin: 10px;
width: 300px;
font-size: 15px;
}
/* </headerAndFooter> */

/*<Form>*/
.formContainer{
  background-color: rgb(6, 1, 29);
  min-width: 30vh;
  color: white;
  padding: 1.5px;
}

.formContainer > form > input {
  padding-left: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.formContainer > form > button {
  width: 80px;
}
/* </form> */
/* <buttons> */
.btn{
  background-color: #6090ee;
  color: rgb(36, 26, 30);
  font-weight: 800;
  text-decoration: none;
  border: 3px solid rgb(30, 43, 219);
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  background-color: #759de7;
  cursor:grab;
}

.btn:active{
  background-color: #5f8ee7;
  cursor:grabbing;
}
/* </buttons> */

/* <Main> */
/* <jumbotron> */
.App-jumbotron {
  background-color: rgb(6, 1, 29);
  color: white;
  min-width: 100vh;
  height: 52vh;
  font-size: calc(10px + 2vmin);
  margin:0;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  padding: 50px;

}
.App-jumbotron > div, .App-jumbotron > div>img{
  text-align: justify;
  width: 80vh;
  height: 40vh;
}
.App-jumbotron > div > p{
font-size: 20px;
}

/* </jumbotron> */
/* <sections> */

.App-section {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  min-width: 100vh;
  height: 35vh;
  margin:0;
  padding: 50px;
}

.App-section>div {
  text-align: justify;
  font-size: 20px;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  margin:0;
  padding: 50px;
}
.App-section>div>img{
  width: 80vh;
  height: 40vh;
}

/* </sections> */
/* <Main> */
/* <Menu> */
.App-Sidebar{
  background-color: rgb(6, 1, 29);
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 25vh;
  padding:20px;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.cardList{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background-color: rgb(30, 32, 66);
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  text-align: justify;
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.card > img{
  width: 300px; 
  height:200px;
}
/* </Menu> */

.pg-NoMatch{
  background-color: rgba(25, 48, 92, 0.466);
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE FROM 1280PX AND ON <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media screen and (min-width:1280px) {
}

/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE 640PX A 1280PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width:640px) and (max-width:1280px) {
  header {
    width: auto; /*121hv*/
  }
  
  .App-nav{
    width: auto;/*132.6*/
  }
  
  footer{
    min-width: 50vh;
  }
  
  footer > section{
  margin: 5px;
  }
  .btn{
    margin: 5px;
  }

  .App-jumbotron {
    min-width: auto; /*100vh*/
    font-size: calc(1px + 2vmin);
  
  }
  .App-jumbotron > div, .App-jumbotron > div>img{
    width: 50vh;
    height: 30vh;
  }
  .App-jumbotron > div > p{
  font-size: 15px;
  }
  
  /* </jumbotron> */
  /* <sections> */
  
  .App-section {
    min-width: auto;/*100vh*/
  }
  
  .App-section>div {
    font-size: 15px;
  }
  .App-section>div>img{
    width: 50vh;
    height: 30vh;
  }
  
  /* </sections> */
  /* <Main> */
  /* <Menu> */
  .App-Sidebar{
    font-size: calc(5px + 2vmin);
    min-width: 25.8vh;
    min-height: 96vh;
  }

  
  .card{
    width: 250px;
    height: 420px;
    margin: 5px;
    padding: 10px; 
  }
  .card > img{
    width: 200px; 
    height:150px;
  }
  /* </Menu> */
  
  .pg-NoMatch{
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    width: 100%;
    height: 100%;
  }
}

/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE MAX 1280PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width:640px){
  header {
    width: auto; /*121hv*/
  }
  
  .App-nav{
    flex-direction: column;
    width: auto;/*132.6*/
    height: auto;
  }
  
  footer{
    min-width: 50vh;
  }
  
  footer > section{
  margin: 5px;
  }
  .btn{
    margin: 5px;
    width: 400px;
  }

  .App-jumbotron {
    min-width: auto; /*100vh*/
    font-size: calc(1px + 2vmin);
  
  }
  .App-jumbotron > div, .App-jumbotron > div>img{
    width: 50vh;
    height: 30vh;
  }
  .App-jumbotron > div > p{
  font-size: 15px;
  }
  
  /* </jumbotron> */
  /* <sections> */
  
  .App-section {
    min-width: auto;/*100vh*/
  }
  
  .App-section>div {
    font-size: 15px;
  }
  .App-section>div>img{
    width: 50vh;
    height: 30vh;
  }
  
  /* </sections> */
  /* <Main> */
  /* <Menu> */
  .App-Sidebar{
    font-size: calc(5px + 2vmin);
    min-width: 25.8vh;
    min-height: 96vh;
  }

  
  .card{
    width: 250px;
    height: 420px;
    margin: 5px;
    padding: 10px; 
  }
  .card > img{
    width: 200px; 
    height:150px;
  }
  /* </Menu> */
  
  .pg-NoMatch{
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    width: 100%;
    height: 100%;
  }
}